@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  /* ヘッダー */

#header {
    background-image: url(./images/hero-cat.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 31% top;
    position: relative;

}

.header-title-cat {
    color: white;
    text-shadow: 1px 2px 3px black;
    position: absolute;
    right: 150px;
    bottom: 250px;
    font-size: 12rem;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

.header-title-and {
    color: white;
    text-shadow: 1px 2px 3px black;
    position: absolute;
    right: 170px;
    bottom: 190px;
    font-size: 6rem;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

.header-title-cafe {
    color: white;
    text-shadow: 1px 2px 3px black;
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 12rem;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

.nav {
    background-color:black;
    width: 100vw;
    height: 100px;
    border-top : double 3px gray;
    border-bottom: double 3px grey;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:40px ;
    right: 50px;
}

nav li {
    margin-left: 40px;
    list-style: none;
}


.nav-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
    filter: drop-shadow(1px 1px 2px gray);
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 0 1px; 
    transition: background-size 0.3s;
}

.nav-link:hover {
    background-position: bottom left;
    background-size: 100% 1px; 
    opacity: 0.7;
}

.nav-logo {
    display: block;
    width: 90px;
    height: 90px;
    margin-left:100px ;
    margin-top: 5px;
}

/* この下からメイン */

/* コンセプト */

.main-separate {
    background-image: url(./images/marble2.jpg);
    width: 100%;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.concept-image { 
    background-image: url(./images/concept-cat.webp);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.site-logo {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding-top: 10px;
}

.concept-content {
    background-image: url(./images/marble.avif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.concept-cat-image {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 0;
}

.concept-title {
    font-size: 80px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px grey;
    padding-top: 60px;
}

.concept-description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.concept-text {
    color: black;
    font-size: 24px;
    margin-top: 50px;
    text-shadow: 1px 2px 3px white;
    font-family: "Emilys Candy", serif;
    font-weight: bold;
}

.page-top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    filter: drop-shadow(3px 3px 3px black);
    cursor: pointer;
    z-index: 99;
}

.page-top-button img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}

.page-top-button:hover img {
    filter: invert(100%);
}

/* 料金システム */

.price-image .site-logo {
    filter: brightness(0);
}

.price-image {
    background-image: url(./images/price-cat.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.price-content {
    background-image: url(./images/marble.avif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.border-right-top {
    width: 350px;
    height: auto;
    position: absolute;
    top: 90px;
    right: 110px;
    transform: scale(1, -1);
}

.border-left-top {
    width: 350px;
    height: auto;
    position: absolute;
    top: 90px;
    left: 110px;
}
.border-right-bottom {
    width: 350px;
    height: auto;
    position: absolute;
    bottom: 90px;
    right: 110px;
}

.border-left-bottom {
    width: 350px;
    height: auto;
    position: absolute;
    bottom: 90px;
    left: 110px;
    transform: scale(1, -1);
}

.price-title {
    font-size: 48px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px grey;
    padding-top: 75px;
}

.price-details {
    margin: 0 auto;
    width: fit-content;
}

.price-subtitle {
    font-size: 31px;
    font-weight: bold;
    font-family: "Emilys Candy", serif;
    text-shadow: 1px 2px 3px white;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 80px;
}

.price-subtitle span {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
    font-weight: normal;
}

.price-subtitle-snack {
    font-size: 31px;
    font-weight: bold;
    font-family: "Emilys Candy", serif;
    margin-top: 30px;
    text-shadow: 1px 2px 3px white;
    margin-left: 85px;
}

.price-subtitle-snack span {
    display: inline-block;
    color: black;
    font-size: 22px;
    text-shadow: 1px 2px 3px white;
    font-family: "Emilys Candy", serif;
    font-weight: bold;
    margin-left: 5px;
}

.price-list {
    margin-left: 130px;
    margin-top: 20px;
    list-style: square;
}

li::marker {
    font-size: 15px;
}

.price-list li {
    color: black;
    font-size: 22px;
    text-shadow: 1px 2px 3px white;
    font-family: "Emilys Candy", serif;
    margin-bottom: 13px;
    font-weight: bold;
}

.sp-only {
    display: none;
}

.sp-hide {
    display: inline;
}

/* 店舗情報 */

.information-image {
    background-image: url(./images/interior.PNG);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: grayscale(40%)contrast(110%);
}

.information-content {
    background-image: url(./images/marble.avif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.store-image {
    width: 400px;
    height: auto;
    border-radius: 20px;
}

.information-title {
    font-size: 60px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    padding-top: 70px;
    color:black;
    text-shadow: 1px 2px 3px grey;
    margin-bottom: 30px;
}

.information-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px;
}

.information-details {
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.information-text {
    color: black;
    font-size: 20px;
    text-shadow: 1px 2px 3px white;
    font-weight: bold;
    font-family: "Emilys Candy", serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* フッター */

.footer-content {
    background-color:black;
    width: 100vw;
    height: 30px;
    border-top : double 3px gray;
    border-bottom: double 3px grey;
}

.footer-copyright {
    margin-top: 3px;
    color: white;
    text-align: center;
    font-size: 15px;
}


/* ランキングページ */

.ranking-content {
    background-image: url(./images/marble.avif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ranking-title {
    font-size: 50px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px grey;
    padding-top: 60px;
}

.ranking-list {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 100px;
    justify-content: center;
}

.cat-name {
    color: black;
    font-size: 24px;
    text-shadow: 1px 2px 3px white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom:20px;
}

.cat-image {
    display: block;
    width: 300px;
    height: 300px;
    margin-top: 60px;
    border-radius: 40px;
}

.cat-information {
    font-size: 19px;
    text-align: left;
    margin-top: 15px;
    text-shadow: 1px 2px 3px white;
    font-weight: bold;
    font-family: "Emilys Candy", serif;
}

.sp-only {
    display: none;
}

/* お約束ページ */

.rules-content {
    background-image: url(./images/marble.avif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rules-title {
    font-size: 48px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px grey;
    padding-top: 40px;
    margin-bottom: 30px;
}

.rules-introduction {
    font-size: 22px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px white;
    margin-bottom: 10px;
}

.rules-notice {
    font-size: 22px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px white;
    margin-bottom: 30px;
}

.rules-list-container {
    width: fit-content;
    margin: 0 auto;
}

.rules-list {
    list-style: square;
}

.rules-list li {
    color: black;
    font-size: 20px;
    text-shadow: 1px 2px 3px white;
    font-family: "Emilys Candy", serif;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 25px;
}


.hamburger-menu {
    display: none;
}

/* レスポンシブ */

@media screen and (max-width:640px) {

 /* ヘッダー */

#header {
    width: 100%;
    max-width: 640px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.nav {
    background-color:black;
    width: 100vw;
    height: 100px;
    border-top : double 3px gray;
    border-bottom: double 3px grey;
}

.nav-logo {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-top: 5px;
}

.normal-menu {
    display: none;
}


.header-title-cat {
    left: 5px;
    bottom: 90px;
    font-size: 8rem;
}

.header-title-and {
    right: 160px;
    bottom: 77px;
    font-size: 3rem;
}

.header-title-cafe {
    right: 5px;
    bottom: -30px;
    font-size: 8rem;
}


/* コンセプト */

.concept-cat-image {
    display: none;
}

.page-top-button {
    width: 90px;
    height: 90px;
}

.concept-image {
    height: 150px;
}

.site-logo {
    width: 150px;
    height: 150px;
    padding-top: 5px;
}

.concept-title {
    font-size: 50px;
    padding-top: 40px;
}

.concept-content {
    height: 90vh;
}

.concept-text {
    color: black;
    font-size: 16px;
    margin-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

/* 料金システム */

.border-right-top {
    display: none;
}

.border-left-top {
    display: none;
}

.border-right-bottom {
    display: none;
}

.border-left-bottom {
    display: none;
}

.price-image {
    height: 150px;

}

.price-title {
    font-size: 37px;
    padding-top: 50px;
}

.price-subtitle {
    font-size: 22px;
    margin-left: 35px;
    margin-top: 35px;
}

.price-subtitle span {
    font-size: 18px;
}

.price-subtitle-snack {
    font-size: 22px;
    margin-left: 35px;
    margin-top: 20px;
}

.price-subtitle-snack span {
    font-size: 16px;
    margin-left: 35px;
}


.price-list {
    margin-left: 70px;
    margin-bottom: 0px;
}

.price-list li {
    font-size: 16px;
    margin-bottom: 13px;
}

.sp-only {
    display: inline;
}

.sp-hide {
    display: none;
}

/* 店舗情報 */

.information-image {
    height: 150px;
}

.information-title {
    font-size: 42px;
    padding-top: 45px;
    margin-bottom: 17px;
}

.information-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.information-details {
    border-top: solid 1.3px black;
    border-bottom: solid 1.3px black;
}

.information-text {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.store-image {
    width: 250px;
}

/* フッター */

.footer-copyright {
    margin-top: 6px;
    font-size: 10px;
}

/* ランキングページ */

.ranking-content {
    background-image: url(./images/marble.avif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ranking-title {
    font-size: 33px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px grey;
    padding-top: 15px;
}

.ranking-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px 20px 20px;
    justify-items: center;
    
}

.cat-name {
    color: black;
    font-size: 18px;
    text-shadow: 1px 2px 3px white;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom:0px;
}

.cat-image {
    display: block;
    width: 160px;
    height: 160px;
    margin-top: 10px;
    border-radius: 40px;
}

.cat-information {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}

.cat-card-first {
    grid-column: 1 / 3;
}

.cat-card-second {
    grid-column: 1;
}

.cat-card-third {
    grid-column: 2;
}

.sp-only {
    display: inline;
}

/* お約束ページ */

.rules-title {
    font-size: 40px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px grey;
    padding-top: 20px;
    margin-bottom: 20px;
}

.rules-introduction {
    font-size: 16px;
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:black;
    text-shadow: 1px 2px 3px white;
    margin-bottom: 4px;
    border-top: solid black 1px;
}

.rules-notice {
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: solid black 1px;
}

.rules-list li {
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.rules-list li::marker {
   font-size: 0.7em;
}

/* ハンバーガーメニュー */

.hamburger-menu {
    display: inline;
}

.menu-btn {
    position: absolute;
    top: 25px;
    right: 15px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: black;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    display: none;
    z-index: 80;
    background-color: black;
    border-top : solid 1px white;
    border-bottom: solid 1px white;
    opacity: 0.9;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    color:white;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
    display: inline;
}

nav ul {
    top:90px ;
    right: 50px;
    display: block;
    position: static;
}

nav li {
    margin-left: 40px;
    padding-top: 40px;
    list-style: none;
}

}